---
title: Monitoring Master/etcd Node VMs
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how platform operators can monitor and retrieve metrics from
master/etcd node VMs in <%= vars.product_full %> deployments.

## <a id="overview"></a>Overview
etcd is an open source distributed key value store.
You can monitor Kubernetes cluster health by using metrics from etcd.
In <%= vars.product_short %>, etcd is co-located on Kubernetes master node VMs.
The master node VMs use etcd for service discovery and configuration sharing within the cluster.

For more information about etcd, see the [etcd documentation](https://github.com/etcd-io/etcd/tree/master/Documentation) on GitHub.

For more information about configuring master/etcd nodes in the <%= vars.product_tile %> tile, see the
Plans section of _Installing <%= vars.product_short %>_ for your IaaS:

* [vSphere](installing-pks-vsphere.html#plans)
* [vSphere with NSX-T Integration](installing-nsx-t.html#plans)
* [Google Cloud Platform (GCP)](installing-pks-gcp.html#plans)
* [Amazon Web Services (AWS)](installing-pks-aws.html#plans)
* [Azure](installing-pks-azure.html#plans)

<%# I CHANGED THIS QUITE A BIT

## <a id="monitor"></a>Monitor etcd
PKS includes the ability to configure an agent that 
reads from the the `/metric` endpoint 
as well as optionally read from an installed node exporter.

For more information about monitoring etcd,
see [Monitoring etcd](https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/monitoring.md)
on GitHub. %>

## <a id="monitor"></a>  Monitoring etcd

etcd VMs exposes metrics on a `/metrics` endpoint.
You can connect a third-party monitoring service to etcd  to retrieve cluster information
from the endpoint.

<%#LINK TO THE AVAILABLE METRICS%>

For example, the etcd documentation recommends using the open source Prometheus monitoring service.
For more information, see the
[Prometheus documentation](https://prometheus.io/docs/introduction/overview/).

To monitor etcd using a monitoring service, you must do the following:

1. Enable node exporter (optional but recommended)
1. Configure [telegraf within the tile](https://github.com/influxdata/telegraf/tree/1.11.0/plugins/outputs). 
1. Apply Changes

### <a id="toml"></a> Using TOML. 

<%# INTRO %>

Create a TOML configuration for your desired output plugin. 
You can find samples within the [telgraf repo](https://github.com/influxdata/telegraf/tree/1.11.0/plugins/outputs)
or try out the following sample below. 

Sample output plugin 
```
[[outputs.http]]
   url="https://example.com"
   method="POST"
   data_format="JSON"
[[processors.override]]
  [processors.override.tags]
    TAG-KEY = "TAG-VALUE"
```


<%# INFO ABOUT WHY YOU SHOULD USE TAGS %>

<table>
    <tr>
      <th>Tag</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>Director Name</td>
      <td>Use this to assign a recognizeable name to your bosh director</td>
    </tr>
</table>

### <a id="connect"></a> Configure telegraf within the tile

To connect a monitoring service to etcd, do the following:

1. From the **Ops Manager Installation Dashboard**, navigate to **<%= vars.product_tile %>** >
**Settings** > **Monitoring**.

1. Enable the Node Exporter on the master node. This will provide you with additional infrastructure metrics
which will be available on the localhost of that machine. 

1. For **Setup Telegraf Outputs**, enter the Telegraf outputs TOML and tags for your montiring service.
If you do not want to output any BOSH metrics, leave the default `[[outputs.discard]]` value.
For information about TOML configurations, see [Create BOSH Metrics Sink Resource](#toml) above.

1. Click **Save**

1. Apply Changes

## <a id="errors"></a>Troubleshoot etcd

We recommend working with Pivotal or VMware Support to troubleshoot master/etcd node VMs.
The monitoring and metrics data you retrieve from the master/etcd node VMs
can help the Support team diagnose and troubleshoot errors.
